* {
  box-sizing: border-box;
  margin: 0;
}
body {
  text-align: center;
  align-items: center;
  height: auto;
  background: linear-gradient(45deg, #808080, #ffffff, #808080);
  background-attachment: fixed;
  padding-inline: 5%;
  font-family: 'Arial', sans-serif;
  overflow: auto;
  color: #000000;
}
li {
  list-style: none;
}
.write-task {
  height: auto;
  min-width: 100%;
  max-width: 100%;
  max-height: 50vh;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  outline: 0;
  font-size: 1rem;
}
.butn {
  margin-bottom: 3px;
  border: solid 1px black;
  width: 30%;
  word-wrap: break-word;
  transition: background-color 0.5s;
  border-radius: 5px;
}
.butn:hover,
.butn:focus {
  background-color: #808080;
  cursor: pointer;
}
h1,
h2 {
  padding: 15px;
}
.tasks-important,
.tasks-normal {
  border: solid #808080 2px;
  padding: 5px;
  word-wrap: break-word;
}
.tasks-important {
  margin-bottom: 1.5em;
  margin-top: 2em;
}
.task {
  border: solid #000000 1px;
  border-radius: 0px 7px 0px 7px;
  background-color: #ffffff;
  height: auto;
  margin-bottom: 10px;
  word-wrap: break-word;
  padding-top: 5px;
}
.conteiner-footer-task {
  border-top: 0.5px solid #d0cfcf;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  flex-wrap: wrap;
  word-break: break-all;
}
label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.check-box {
  width: 19px;
  height: 19px;
  cursor: pointer;
}
.icons {
  padding-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
img {
  height: 20px;
  height: 1.25rem;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}
.date {
  flex: 1;
}
.task-done {
  background-color: lime;
  font-style: italic;
}
h4,
h5,
h6 {
  margin-block: 2rem;
}
@media (min-width: 1100px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}
