* {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: auto;
  text-align: center;
  align-items: center;
  background: linear-gradient(45deg, #808080, #ffffff, #808080);
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
  overflow: auto;
  color: #000000;
  position: relative;
}

header {
  background-color: gray;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}
.wrapp-header {
  width: 100%;
  padding-inline: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 1.2rem;
  display: inline;
}
.label-add-task {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.add-task {
  width: 45px;
  height: 45px;
  padding: 0;

  border: none;
}
.checkbox-add-task {
  display: none;
}
.checkbox-add-task:checked + label {
  transform: rotate(45deg);
}
li {
  list-style: none;
}
.wrapper {
  width: 100%;
  padding-inline: 5%;
}
main{
  min-height: 65vh;
}
#section-inputs-task{
  display: none;
}
.write-task {
  height: auto;
  min-width: 100%;
  max-width: 100%;
  max-height: 50vh;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  outline: 0;
  font-size: 1rem;
}
.butn {
  margin-bottom: 3px;
  border: solid 1px black;
  width: 49%;
  word-wrap: break-word;
  transition: background-color 0.5s;
  border-radius: 5px;
}
.butn:hover,
.butn:focus {
  background-color: #808080;
  cursor: pointer;
}
h2 {
  padding: 15px;
}
.tasks-important,
.tasks-normal {
  border: solid #808080 2px;
  padding: 5px;
  word-wrap: break-word;
}
.tasks-important {
  margin-bottom: 1.5em;
  margin-top: 2em;
}

.task {
  border: solid #000000 1px;
  border-radius: 0px 7px 0px 7px;
  background-color: #ffffff;
  height: auto;
  margin-bottom: 10px;
  word-wrap: break-word;
  padding-top: 5px;
}
.conteiner-footer-task {
  border-top: 0.5px solid #d0cfcf;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  flex-wrap: wrap;
  word-break: break-all;
}
.conteiner-footer-task label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.check-box {
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.icons {
  padding-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.icons img {
  height: 1.25rem;
  border-radius: 4px;
  cursor: pointer;
}
.date {
  flex: 1;
}
.task-done {
  background-color: lime;
  font-style: italic;
}
h4,
h5,
h6 {
  margin-block: 2rem;

}
footer{
  width: 100%;
  background-color: gray;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

@media (min-width: 1100px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}
